.App {
  text-align: center;
  background-color: #444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo {
  animation: logo-spin infinite 10s cubic-bezier(0.175, 0.885, 0.32, 1.075);
  height: 40vmin;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
